
@font-face {
	font-family: 'InterBold';
	src: url('static/fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'InterMed';
	src: url('static/fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'InterReg';
	src: url('static/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'EncodeBold';
	src: url('static/fonts/EncodeSansExpanded-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'EncodeSB';
	src: url('static/fonts/EncodeSansExpanded-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'EncodeMed';
	src: url('static/fonts/EncodeSansExpanded-Medium.ttf') format('truetype');
}

.statnum {
	font-family: 'EncodeMed';
}

.pokenum, .viewtitle {
    font-family: 'EncodeSB';
}

.pokename {
    font-family: 'EncodeBold';
}

.poketype, .forms, .statval {
    font-family: 'InterMed';
}

.mainstats, .heading {
	font-family: 'InterBold';
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 10; 
}

.modal-open .card img {
    transform: none !important;
}

.modal-open .card:hover {
    
    box-shadow: none !important;
    transform: none !important;
	cursor: default;
}